/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --body: #d9b59b;
  --sidebar: #bda46b;
  --primary: #8d6d3a;
  --secondary: #efe6c3;
  --error: #e3c4a6;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  box-shadow: 0px 1px 10px var(--primary);
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  padding: 20px;
  margin: 0 auto;
}

/* For menu item */

.menus {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  display: flex;
  justify-content: space-between;
}

.button{
  background: none;
  color: inherit;
  border: none;
  padding: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logoutButton{
  font-size: 1.5em;
  font-family: "poppins";
  font-weight: bold;
  color: var(--secondary);
}

.menu-details {
  background: #fff;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 32vw;
}
.menu-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.menu-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.menu-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.menuHeader{
  display: flex;
  justify-content: space-between;
}

.menuDescription {
  word-wrap: break-word;
}

/* Admin page */

.admin {
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
}

.adminHeader{
  word-wrap: break-word;
  width: 20em;
}

.adminForm {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 80%;
}

.adminForm h3{
  color: var(--primary);
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.admin-details {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 80%;
}

.admin-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  word-wrap: break-word;
}
.admin-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.adminAction{
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 8px;
}

.adminButton{
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.244);
  border-radius: 50%;
}

/* new menu form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error{
  border: 1px solid var(--error);
}

form.signup, form.login {
  max-width: 50vw;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.float{
  text-align: center;
  align-content: center;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.nav-menu{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 1.2em;
}

.navbarNavigation{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 2vw;
  white-space: nowrap;
}

.navbarNavigation h1{
  color: var(--secondary);
}

.login-button h1{
  color: var(--secondary);
}

.menu-box{
  width: 100%;
  padding: 0px;
  align-items: center;
  margin-top: 2em;
  text-align: center;
}

.menu-box h3{
  font-weight: lighter;
}

.menu-box h1, .menu-box h3{
  margin: 0;
}

.divider{
  height: 0px;
  left: 50%;
  margin: 0px 10px 0px 10px;
  padding: 4px;
  background-color: var(--secondary);
  border-radius: 25px;
}

.logo-name{
  color: var(--secondary);
}

.logged-in{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 2em;
  gap: 1em;
  white-space: nowrap;
}