/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --body: #d9b59b;
  --sidebar: #bda46b;
  --primary: #8d6d3a;
  --primary2: #765b31;
  --primary3: #503e22;
  --secondary: #efe6c3;
  --error: #e3c4a6;
}
body {
  background: var(--secondary);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  z-index: 1;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  padding: 0px;
  margin: 0 auto;
}

/* For menu item */

.menus {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 5px;
  display: flex;
  justify-content: space-between;
  margin: 0px 15vw 0px 15vw;
}

.button{
  background: none;
  color: inherit;
  border: none;
  padding: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logoutButton{
  font-size: 1.5em;
  font-family: "poppins";
  font-weight: bold;
  color: var(--secondary);
}

.menu-details {
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: min-content;
}

.menu-details img{
  width: 15vw;
  margin-bottom: 1em;
}

.menu-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.menu-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.menuHeader{
  display: flex;
  justify-content: space-between;
}

.menuDescription {
  word-wrap: break-word;
}

/* Admin page */

.admin {
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
}

.adminHeader{
  word-wrap: break-word;
  width: 20em;
}

.adminForm {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 80%;
}

.adminForm h3{
  color: var(--primary);
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.admin-details {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 4px;
  margin: 0px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 80%;
}

.admin-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
  word-wrap: break-word;
}
.admin-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.adminAction{
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 8px;
}

.adminButton{
  background-color: white;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.244);
  border-radius: 50%;
}

/* new menu form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error{
  border: 1px solid var(--error);
}

form.signup, form.login {
  max-width: 50vw;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 22vh;
  margin-bottom: 22vh;
}

.float{
  text-align: center;
  align-content: center;
}

nav button {
  background: #fff;
  color: var(--primary);
  padding: 6px 10px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.nav-menu{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 1.2em;
}

.navbarNavigation{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column: 2em;
  gap: 2vw;
  white-space: nowrap;
}

.navbarNavigation h1{
  color: var(--secondary);
}

.login-button h1{
  color: var(--secondary);
}

.menu-box{
  width: 100%;
  padding: 0px;
  align-items: center;
  margin-top: 2em;
  text-align: center;
  min-height: 100vh;
}

.menu-box h3{
  font-weight: lighter;
}

.menu-box h1, .menu-box h3{
  margin: 0;
}

.divider{
  height: 0px;
  left: 50%;
  margin: 0px 10px 0px 10px;
  padding: 4px;
  background-color: var(--secondary);
  border-radius: 25px;
}

.logo-name{
  color: var(--secondary);
}

.logged-in{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 2em;
  gap: 1em;
  white-space: nowrap;
}

.adminMenuItem{
  align-items: center;
  margin: 0 0;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 2em;
  gap: 1.2em;
}

.adminMenuItem img{
  height: 15em;
}

.hero{
  width: 100%;
  height: min-content;
  max-height: 100vh;
  position: relative;
  overflow: clip;
  top: -5vh;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  &::-webkit-scrollbar {
    display: none; /* Hides the scrollbar track */
  }
}

.hero img{
  display: inline-block;
  height: 60vw;
  width: 100vw;
  z-index: -100;
  filter: brightness(50%)
}

.heroText{
  z-index: 999;
  position: absolute;
  top: 4vw;
  left: 5vw;
}

.heroText h1{
  color: var(--body);
  font-size: 8vw;
}

.heroSubtext{
  z-index: 999;
  position: absolute;
  top: 18vw;
  left: 0.5vw;
}

.heroSubtext h2{
  color: var(--secondary);
  font-size: 2vw;
  line-height: 40px;
}

.menusTitle{
  text-align: center;
  font-size: 2vw;
  margin-top: 0px;
}

.menusGallery{
  width: fit-content;
  align-items: center;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 0em;
  gap: 2vw;
  margin: 2vw auto 4vw auto;
  text-align: center;
}

.menu-images{
  background: #fff;
  cursor: pointer;
  width: 15vw;
}

.menu-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.menusCol1{
  width: min-content;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-row: 2em;
  gap: 2vw;
}

.menusCol1Row1{
  width: min-content;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-row: 2em;
  gap: 2vw;
}

.img1x2 .menu-images{
  width: 32vw;
  height: 15vw;
  overflow: hidden;
}

.img1x1 .menu-images{
  width: 15vw;
  height: 15vw;
  overflow: hidden;
}

.img2x1 .menu-images{
  width: 15vw;
  height: 32vw;
  overflow: hidden;
}

.menusCol2{
  width: min-content;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 2em;
  gap: 2vw;
}

.menusCol2Row1{
  width: min-content;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 2vw;
}

.shopNow{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-column: 0em;
  gap: 2vw;
}

.shopNowImage .menu-images{
  padding: 2em 2em 0em 2em;
  background-color: var(--secondary);
  width: 100%;

}

.shopNowTextContainer{
  width: 100%;
  height: 100%;
  position: relative;
}
.ShopNowText{
  width: min-content;
  margin-inline: auto;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ShopNowText h3{
  font-size: 1vw;
  width: min-content;
  white-space: nowrap;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1vw;
}

.ShopNowText h1{
  font-size: 2.2vw;
  width: min-content;
  white-space: nowrap;
  margin-bottom: 0;
}

.discoverButton{
  background-color: var(--primary);
  padding: 1vw;
  color: var(--secondary);
  text-decoration: inherit;
  font-weight: 500;
  margin-top: 1vh;
  font-size: 0.8vw;
}

.footerContainer{
  width: 100%;
  background-color: var(--primary2);
}

.footerContent{
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  margin: auto;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  gap: 10vw;
  color: var(--secondary);
}

.footerContent li {
  list-style: none;
}

.footerContent ul {
  margin-left: 0;
  padding: 0;
}

.footerContent a{
  text-decoration: none;
  color: var(--secondary);
}

.footerCopyright{
  text-align: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary3);
  color: var(--secondary);
}

.footerCopyright h3{
  margin: 0;
}

.menu-list{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  width: min-content;
  margin: auto;
}